<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Personalized Compass Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PCompass</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      <li class="nav-item">  
      <div class="checkbox">
        <label><input type="checkbox" name="compass" id="compassCheck" value="ON" checked>PCompass
        </label>
      </div>
      </li>

      <li class="nav-item">
      <div class="checkbox">
        <label><input type="checkbox" name="wedge" id="wedgeCheck" value="ON">Wedge
        </label>
      </div>
      </li>
      <li class="nav-item">
            <button type="button" class="btn btn-default" value="Toggle Street View" onclick="toggleStreetView();">Street View</button>
          </li>

      <!--<li class="nav-item">  
      <div class="checkbox">
        <label><input type="checkbox" name="centroid" id="centroidCheck" value="ON">Centered Centroid
        </label>
      </div>
      </li>    -->


      <li class = "nav-item">
        <button type='button' id="previousButton" class="btn btn-default">Previous</button>
      </li>

      <li class = "nav-item">
        <button type='button' id="nextButton" class="btn btn-default">Next</button>
      </li>

      <li class = "nav-item">
        <div id = "counter"></div>
      </li>

      <!--<li class = "nav-item">
        <input type="file" id="file-input" />
      </li>-->

      </ul>     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 <div id="maps">
    <div id= "wrapper">
      <div id="map"></div>
      <div id="overlay">
        <div id="wedge">
            <canvas id="canvasWedge"></canvas>
        </div>

        <div id="labels">
            <canvas id="canvasLabels"></canvas>
        </div>
        
        <div id="compass">
            <canvas id="canvasCompass"></canvas>
        </div>
        <div id="FOV">
            <canvas id="canvasFOV"></canvas>
        </div>
         <script src="/js/pcompass.js"></script>
         <script src="/js/wedge.js"></script>
      </div>

       
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    </div>
  </div>

    <script>
    function toggleStreetView() {
      console.log(panorama.getVisible())
      panorama.setPosition(map.getCenter());
      var toggle = panorama.getVisible();
      console.log(map.getCenter())
      var streetViewService = new google.maps.StreetViewService();
      var STREETVIEW_MAX_DISTANCE = 100;
      streetViewService.getPanoramaByLocation(map.getCenter(), 
        STREETVIEW_MAX_DISTANCE, function (streetViewPanoramaData, status) {
        if (status === google.maps.StreetViewStatus.OK) {
            console.log('ok')
                  if (toggle == false) {
              panorama.setVisible(true);
             ctxCompass.transform(1, 0, 0, 0.65, 0, 0);
             reDraw();
             //ctxLabels.transform(1, 0, 0, 0.65, 0, 0);
            } else {
              panorama.setVisible(false);
              ctxCompass.transform(1, 0, 0, (1/0.65), 0, 0);
              //ctxLabels.transform(1, 0, 0, (1/0.65), 0, 0);
            reDraw();
            }
        } else {
             console.log('no streetview avail')
            return;
        }
        });
}
    </script>
      <!--<script src="/socket.io/socket.io.js"></script>-->

      <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
  
    var markers =[];
    var distanceToCompass;
    var panorama; //Streetview
    var map;

    var navHeight = $('.navbar').height(); 
    var mapHeight = window.innerHeight - navHeight;
    $('#maps').css('height', mapHeight);

    //var pointsDB = new Array(); //Database of all points
    var points = new Array(); //Points that are shown
    var canvasCompass = document.getElementById("canvasCompass");
    var ctxCompass = canvasCompass.getContext("2d");

    var canvasFOV = document.getElementById("canvasFOV");
    canvasFOV.setAttribute('width', window.innerWidth);
    canvasFOV.setAttribute('height', window.innerHeight);
    var ctxFOV = canvasFOV.getContext("2d");

    var canvasWedge = document.getElementById("canvasWedge");
    canvasWedge.setAttribute('width', window.innerWidth);
    canvasWedge.setAttribute('height', window.innerHeight);
    var ctxWedge = canvasWedge.getContext("2d");

    var canvasLabels = document.getElementById("canvasLabels");
    canvasLabels.setAttribute('width', window.innerWidth);
    canvasLabels.setAttribute('height', window.innerHeight);
    var ctxLabels = canvasLabels.getContext("2d")

    var pcompass= new PCompass(0, 0, 0, 0, innerWidth/16);
    var wedge = new Wedge();
    var canvasCompass = document.getElementById('canvasCompass');
    canvasCompass.width = 2 * pcompass.r;
    canvasCompass.height = 2 * pcompass.r;

    var numSlide = -1;
    var contents;

    function initMap() {


      var socket = io.connect();
      socket.on('getPOIs', function(data) {
        contents = data;
        console.log('getting the POIs')
        console.log(contents)
        setTimeout(function(){ nextScenario(); }, 100);
      });


      var newYork = new google.maps.LatLng(40.7127, -74.0079);

      // var newLocation = new google.maps.LatLng(contents[0][0][0].lat,
      //     contents[0][0][0].lng);

      map = new google.maps.Map(document.getElementById('map'), {
        center: newYork, // New York
        zoom: 15
      });
      // selectPOI(pointsDB);       
      
      

      $('#nextButton').click(function() {
          nextScenario();
  
      })

      $('#previousButton').click(function() {
          if(numSlide != 0) {
            numSlide--;
          }
          points = []
          newLocation = new google.maps.LatLng(contents[numSlide][0][0].lat,
          contents[numSlide][0][0].lng);
          map.setZoom(contents[numSlide][0][1])
          map.panTo(newLocation);
          createPOIs();
          reDraw(contents[numSlide][0][2]);
          $("#counter").html("Scenario " + parseInt(numSlide + 1) + " of " + contents.length);
          setStreetView();
      })

      function nextScenario(){
        for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
          }
          if(numSlide != contents.length -1) {
            numSlide++;
          }
          points = []
          newLocation = new google.maps.LatLng(contents[numSlide][0][0].lat,
          contents[numSlide][0][0].lng);
          map.setZoom(contents[numSlide][0][1])
          map.panTo(newLocation);
          createPOIs();
          reDraw(contents[numSlide][0][2]);
          $("#counter").html("Scenario " + parseInt(numSlide + 1)+ " of " + contents.length);
          // panorama.setVisible(true)
          // toggleStreetView();
          setStreetView();
          

      }

      function setStreetView(){
        console.log(panorama.getVisible())
        panorama.setPosition(map.getCenter());
        var toggle = panorama.getVisible();
        console.log(map.getCenter())
        var streetViewService = new google.maps.StreetViewService();
        var STREETVIEW_MAX_DISTANCE = 100;
        streetViewService.getPanoramaByLocation(map.getCenter(), 
          STREETVIEW_MAX_DISTANCE, function (streetViewPanoramaData, status) {
            if (status === google.maps.StreetViewStatus.OK) {
              console.log('ok')
                panorama.setVisible(true);

              if (toggle == false){
               ctxCompass.transform(1, 0, 0, 0.65, 0, 0);
               // console.log(ctx)
               // ctxFOV.transform(1, 0, 0, 0.65, 0, 0);
               //ctxLabels.transform(1, 0, 0, 0.65, 0, 0);
             }
          } else {
               console.log('no streetview avail')
              return;
          }
        });
      }

      function createPOIs() {
        
        points = []
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = []
        for (var i = 1; i < contents[numSlide].length; i++) {
          var name = contents[numSlide][i][0];
          var markerLocation = new google.maps.LatLng(contents[numSlide][i][1].lat, 
            contents[numSlide][i][1].lng);

          var center = map.getCenter();
          // var markerLocation = getDestination(center, angle, distance);
          var marker = new google.maps.Marker({
            position: markerLocation,
            map: map,
          });
          markers.push(marker);
          distance = getDistance(center, markerLocation);
          angle = getAngle(center, markerLocation);
          points.push({
            'name': name,
            'distance': distance,
            'angle': angle,
            'latlng': markerLocation,
            'rating': 5.0
          });
        }
}


      // var katz = new google.maps.LatLng(40.722216, -73.987501);
      panorama = map.getStreetView();
      panorama.setPov(/** @type {google.maps.StreetViewPov} */({
        heading: 0,
        pitch: 0
      }));


    // Create the search box and link it to the UI element.
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    // check();

    google.maps.event.addListener(panorama, "position_changed", function() {
      map.setCenter(panorama.getPosition());
      streetViewReDraw();
    });

    google.maps.event.addListener(panorama, "pov_changed", function() {
      //console.log('heading' + panorama.getPov().heading);
      streetViewReDraw()
      
    });

    


    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
      if (places.length == 0) {
        return;
      }

      // For each place, get the icon, name and location
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };
      });

      name = places[0].name
      POI = places[0].geometry.location;
      marker = new google.maps.Marker({position: POI, map: map});
      var infowindow = new google.maps.InfoWindow({
        content: name,
        disableAutoPan: true
      });
      infowindow.open(map, marker);

      var center = map.getCenter();
      distance = getDistance(center, POI);
      angle = getAngle(center, POI);
      var latlng = new google.maps.LatLng(POI.lat(), POI.lng())
      points.push({'name': name, 'distance': distance, 'angle': angle, 'latlng': latlng});
      pcompass.drawNeedles();

      // map.fitBounds(bounds);
    });

      // map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(document.getElementById('overlay'));
      var POI = map.getCenter();

      //trying to get markers to delete on click
      google.maps.event.addListener(map, 'click', function(event) {
          marker.addListener('click', function() {
            points = points.filter(function(el){
              // console.log(el.latlng);
              // console.log(event.latLng);
              return (el.latlng !== event.latLng);
            });

          });
      });

      // Compute Latitude and Longitude of center, dynamically computes distance and angle from marker
      google.maps.event.addListener(map, 'center_changed', function () {
            reDraw();
      });

      google.maps.event.addListener(map, 'zoom_changed', function () {
           reDraw();
      });
      selectPOI(points, map.getCenter());
      pcompass.drawNeedles();
    };



    var reDraw = function() {
      center = map.getCenter();
      clearAllCtx();
      bounds = map.getBounds();
      minDistance = Infinity;
      x_coord = parseInt(pcompass.x) + pcompass.r;
      y_coord = parseInt(pcompass.y) + pcompass.r;
      compass_center = fromPointToLatLng(x_coord, y_coord, map);
     // var isCentroidChecked = document.getElementById('centroidCheck').checked;
      var isCentroidChecked = false;
      for (var i in points) {
        if (isCentroidChecked) {
          points[i].distance = getDistance(center, points[i].latlng);
          points[i].angle = getAngle(center, points[i].latlng);
        } else {
          points[i].distance = getDistance(compass_center, points[i].latlng);
          points[i].angle = getAngle(compass_center, points[i].latlng);
        }

      }
        if (isCentroidChecked) {
          selectPOI(points, center);
        } else {
          selectPOI(points, compass_center);
        }
      // if (pointsDB.length == 0)
      //   return;
      for (var i in points) {
        if (points[i].distance < minDistance && !bounds.contains(points[i].latlng))
          minDistance = points[i].distance;
        // console.log(points[i])
        point = fromLatLngToPoint(points[i].latlng.lat(), points[i].latlng.lng(), map);
        centerpt = fromLatLngToPoint(center.lat(), center.lng(), map)
        distanceToCompass = Math.sqrt((Math.pow(parseInt(pcompass.x) - point.x, 2)) + (Math.pow(parseInt(pcompass.y) - point.y, 2)))
        distanceToCenter = Math.sqrt((Math.pow(centerpt.x - point.x, 2)) + (Math.pow(centerpt.y - point.y, 2)))
      }

      var isCompassChecked = document.getElementById('compassCheck').checked;
      var isWedgeChecked = document.getElementById('wedgeCheck').checked;
      if (isCompassChecked) {
        pcompass.drawCompass();

        if (points.length != 0){
          if (isCentroidChecked) {
            pcompass.drawFOVCentered(distanceToCenter);
          } else {
            if (!panorama.getVisible()) {
              pcompass.drawFOV(distanceToCompass, innerHeight);
            }
          }
        }
        else{
          ctxFOV.clearRect(0, 0, window.innerWidth, window.innerHeight);
        }
      }
      if (isWedgeChecked) {
        if (!panorama.getVisible()) {
          wedge.drawWedges();
        }
      }
      if (!panorama.getVisible()) {
        //pcompass.drawNeedle("", Infinity, 90, '#A8A8A8');
        pcompass.drawNorthNeedle();
      }
      pcompass.drawNeedles();
    };

    //Haversine formula to calculate distance
    var rad = function(x) {
      return x * Math.PI / 180;
    };

    //Distance between to latlng objects
    var getDistance = function(p1, p2) {
      var R = 6378137; // Earth’s mean radius in meter
      var dLat = rad(p2.lat() - p1.lat());
      var dLong = rad(p2.lng() - p1.lng());
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
        Math.sin(dLong / 2) * Math.sin(dLong / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return d/1000; // returns the distance in KILOmeter
    };

    //Calculate angle
    var getAngle = function(p1, p2){
      var heading = google.maps.geometry.spherical.computeHeading(p2,p1);
      heading = (heading + 360 + 90) % 360;
      heading = 360 - heading;
      return heading;
    };


    var selectPOI = function(allPoints, center){
      points = points;
      return;
    }

function createPOIs() {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }

  for (var i = 1; i < contents[numQuestion].length; i++) {
    var angle = contents[numQuestion][i][1];
    var distance = contents[numQuestion][i][0];
    var center = map.getCenter();
    var markerLocation = getDestination(center, angle, distance);
    var marker = new google.maps.Marker({
      position: markerLocation,
      map: answerMap,
    });
    markers.push(marker);
    distance = getDistance(center, markerLocation);
    angle = getAngle(center, markerLocation);
    points.push({
      'name': '',
      'distance': distance,
      'angle': angle,
      'latlng': markerLocation,
      'rating': 5.0
    });
  }
}

    var contains = function(point){
      for (var i in points){
        if (point.name == points[i].name)
          return true;
      }
      return false;
    }

   
  function fromLatLngToPoint(lat, lng, map) {
                latLng = new google.maps.LatLng(lat, lng);
                var topRight = map.getProjection().fromLatLngToPoint(map.getBounds().getNorthEast());
                var bottomLeft = map.getProjection().fromLatLngToPoint(map.getBounds().getSouthWest());
                var scale = Math.pow(2, map.getZoom());
                var worldPoint = map.getProjection().fromLatLngToPoint(latLng);
                pointTemp = new google.maps.Point((worldPoint.x - bottomLeft.x) * scale, (worldPoint.y - topRight.y) * scale);
                return pointTemp;
        }

  function fromPointToLatLng(x, y, map) {
    var topRight = map.getProjection().fromLatLngToPoint(map.getBounds().getNorthEast());
    var bottomLeft = map.getProjection().fromLatLngToPoint(map.getBounds().getSouthWest());
    var scale = Math.pow(2, map.getZoom());
    var worldPoint = new google.maps.Point(x / scale + bottomLeft.x, y / scale + topRight.y);
    return map.getProjection().fromPointToLatLng(worldPoint);
  }

    var selected = null, // Object of the element to be moved
    x_pos = 0, y_pos = 0, // Stores x & y coordinates of the mouse pointer
    x_elem = 0, y_elem = 0; // Stores top, left values (edge) of the element

// Will be called when user starts dragging an element
function _drag_init(elem) {
    // Store the object of the element which needs to be moved
    selected = elem;
    x_elem = x_pos - selected.offsetLeft;
    y_elem = y_pos - selected.offsetTop;

}

// Will be called when user dragging an element
function _move_elem(e) {
    x_pos = document.all ? window.event.clientX : e.pageX;
    y_pos = document.all ? window.event.clientY : e.pageY;
    if (selected !== null) {
        selected.style.left = (x_pos - x_elem) + 'px';
        selected.style.top = (y_pos - y_elem) + 'px';
        pcompass.x = selected.style.left;
        pcompass.y = selected.style.top;
    }
}

// Destroy the object when we are done
function _destroy() {
    selected = null;
}

// Bind the functions...
document.getElementById('compass').onmousedown = function () {
    _drag_init(this);
    ctxWedge.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxFOV.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxLabels.clearRect(0,0, window.innerWidth, window.innerHeight);

    //clearAllCtx();
    return false;
};
document.getElementById('compass').onmouseup = function () {
    reDraw();
    if(panorama.getVisible() == true) {
      streetViewReDraw();
    }
    return false;
};
document.onmousemove = _move_elem;
document.onmouseup = _destroy;
    pcompass.drawCompass();



document.getElementById('compass').addEventListener('touchstart', function () {
    _drag_init(this);
    ctxWedge.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxFOV.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxLabels.clearRect(0,0, window.innerWidth, window.innerHeight);

    //clearAllCtx();
    return false;
});
document.getElementById('compass').addEventListener('touchend', function () {
    reDraw();
    return false;
});
document.addEventListener('touchmove',_move_elem);
document.addEventListener('touchend',_destroy);

  function clearAllCtx() {
    ctxCompass.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxWedge.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxFOV.clearRect(0,0, window.innerWidth, window.innerHeight);
    ctxLabels.clearRect(0,0, window.innerWidth, window.innerHeight);

  }

  var streetViewReDraw = function () {
      clearAllCtx();
      for (var i in points){
              points[i].angle = points[i].angle + panorama.getPov().heading;
            }
        pcompass.drawCompass();
        pcompass.drawNeedles()
        for (var i in points){
              points[i].angle = points[i].angle - panorama.getPov().heading;
            }

        // pcompass.drawNeedle("", Infinity, 90 + panorama.getPov().heading, '#A8A8A8');
        pcompass.drawStreetViewNorthNeedle(90 + panorama.getPov().heading);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyAbebnQH25_Kuyk2dihcatibtfsSS7IVDI&callback=initMap"
        async defer></script>
        
  </body>
</html>
