<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Personalized Compass Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style_game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class = "col-md-4 center">
    <form>
  <fieldset class="form-group">
    <label for="center">Center</label>
    <input type="center" class="form-control" id="pac-input2" placeholder="Ex: New York, Columbia University">
  </fieldset>
  </form>
</div>

<div class="col-md-4 center">
<label for="POIs">Points of Interest</label>
<button type='button' class="add_field_button btn btn-info">Add More Fields</button>
<div class="input_fields_wrap">
  
  <div class = "row">
  <div class="form-group col-md-5">
  <input id="distance_0" type="text" class="form-control" name="mytext[]" placeholder="Distance from center"></div>
  <div class="form-group col-md-5">
  <input id="angle_0" type="text" class="form-control" name="mytext[]" placeholder="Angle from north"></div>
  </div>

</div>
</div>

<div class="col-md-4 center">
  <label for="export">Export to Game</label>
  <div>
<button type='button'  id="exportGame" class="btn btn-default">Export</button>
<button type="submit" onclick="submit()" class="btn btn-success" value="Submit Button">Add Question</button>
<button onclick="preview()" class="btn btn-info" value="Submit Button">Preview POI</button>
<div id = "success"></div>

</div>
</div>

    <div id= "wrapper">
      <div id="map"></div>
      <div id="overlay">
        <div id="wedge">
            <canvas id="canvasWedge"></canvas>
        </div>

        <div id="labels">
            <canvas id="canvasLabels"></canvas>
        </div>
        
        <div id="compass">
            <canvas id="canvasCompass"></canvas>
        </div>
        <div id="FOV">
            <canvas id="canvasFOV"></canvas>
        </div>
         <script src="/js/pcompass.js" async></script>
         <script src="/js/wedge.js" async></script>
         <script src="/js/gameauthor_main.js" async></script>
      </div>  
<!--       <input id="pac-input" class="controls" type="text" placeholder="Search Box">
 -->    </div>
    
      <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyAbebnQH25_Kuyk2dihcatibtfsSS7IVDI&callback=initMap"
        async defer></script>
        
  </body>
</html>
